<link rel="stylesheet" href="css/footer.css">
<div class="footer">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="#">uploading Document</a></li>
                <li><a href="#">login & creating</a></li>
                <li><a href="#">search or uploading page</a></li>
                <li><a href="#">search Documents</a></li>
            </ul>
        </div>
    </div>
</div>